@import "rsuite/dist/rsuite.css";
body {
  background-color: whitesmoke;
}
header {
  padding: 1rem;
  text-align: center;
  color: #196c84;
}
.form-conge {
  display: flex;
  justify-content: center;
}
.form-button {
  background-color: #196c84;
  color: white;
}
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.login h1 {
  color: #196c84;
}

.login-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.login-form-btn {
  background-color: #196c84;
  color: white;
}

.conge-status {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: #196c84;
}
.conge-card {
  background-color: #196c84;
  border: 1px solid #196c84;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px #e5e5e5;
  padding: 1rem;
  color: white;
  flex-grow: 1;
  text-align: center;
}
.conge-card p:first-child {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #c5c5c5;
  text-align: center;
  padding-bottom: 0.5rem;
}

.button-choice {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  margin-top: 0.5rem;
  color: white;
}
